ENV = "development"
NAME = ""
HOST = "http://yourdomain.com"
JWT_SECRET = ""

WEB_ROOT = "/public"
TEMPLATE_ROOT = "/templates"
LOGS_ROOT = "/logs"

LOGS = "main,api,error,debug"

#DEBUG(100), INFO(200), NOTICE(250), WARNING(300), ERROR(400), CRITICAL(500), ALERT(550), EMERGENCY(600)
LOG_LEVEL = 100

DB_ADAPTER = "mysql"
DB_HOST = "localhost"
DB_DATABASE = ""
DB_USERNAME = ""
DB_PASSWORD = ""