<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="#">
                        Footer Link 1
                    </a>
                </li>
                <li>
                    <a href="#">
                        Footer Link 2
                    </a>
                </li>
                <li>
                    <a href="#">
                        Footer Link 3
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            Nucleus App Scaffold &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://blog.codyerekson.me">Cody Erekson</a>
        </div>
    </div>
</footer>